@import
	url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap")
	;

/* Variables */
:root {
	--font-family: "Roboto", sans-serf;
	--normal-font: 400;
  	--bold-font: 700;
  	--bolder-font: 900;
  	--bg-white: white;/* white */
  	--orange-red: OrangeRed;/* Orange Red */
  	--red-shadow: red;/* Cool Gray */
  	--green-shadow: green;/* Copper */
  	--bottom-margin: 0.5rem;
  	--bottom-margin-2: 1rem;
  	--line-height: 1.7rem;
  	--transition: 0.3s;
}
/* Variables end */
html {
	scroll-behavior: smooth;
}

/* CSS Resets */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
	/* color: var(--primary-color); */
}

a:hover {
	color: var(--orange-red);
}

body {
	font-family: var(--font-family);
}

nav {
	position: sticky;
	top: 0;
	left: 0;
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1.5rem 3.5rem;
	background-color: gray;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

nav h1 {
	color: white;
}

nav a {
	color: white;
	transition: var(--transition);
}

nav a:hover {
	color: var(--orange-red);
	border-bottom: 2px solid var(--orange-red);
}

nav ul {
	display: flex;
	gap: 1.9rem;
}

nav ul li {
	font-weight: var(- -bold-font);
}

.burger-menu {
  color: var(--primary-color);
  font-size: 2rem;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  display: none;
}
/* Navbar ends */

/* Hero section */
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  max-width: 68.75rem;
  margin: auto;
}

.hero img {
  height: 37.5rem;
  width: 37.5rem;
}

.bio {
  width: 25rem;
  padding: 0.625rem;
  border-radius: 6px;
  box-shadow: 0px 2px 15px 2px var(--red-shadow);
}

.bio h1 {
  margin-bottom: var(--bottom-margin);
}

.bio p {
  line-height: var(--line-height);
  padding: 0.3rem 0;
}
/* Hero section ends */

/* More about */
.more-about {
  background-color: var(--bg-white);
  /* padding: 1rem 6rem; */
  /* width: 25rem; */
  padding: 0.625rem;
  border-radius: 6px;
  box-shadow: 0px 2px 15px 2px var(--red-shadow);
  align-items: center;
  justify-content: center;
  
}

.more-about h2 {
  margin-bottom: var(--bottom-margin);
  text-align: center;
}

.more-about p {
  line-height: var(--line-height);
  padding: 0.4rem;
}
/* More about ends */

/* Skills section */
.skills {
  max-width: 68.75rem;
  margin: auto;
  text-align: center;
  margin-top: 2.5rem;
  /* gap: 2.5rem; */
}

.skill-header {
  margin-bottom: 0.5rem;
  line-height: 14rem;
}

.skills-wrapper img {
  padding: 1.25rem;
}

.icon {
  width: 11.875rem;
  height: 11.25rem;
}
/* Skills section ends */

/* Projects section */
.projects-title{
  line-height: 8rem;
}
.projects {
  background-color: var(--bg-white);
  padding: 32px 0;
  margin-top: 2rem;
}

.project-pic {
  width: 65%;
  height: 60%;
}

.projects-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects-title {
  text-align: center;
  margin-bottom: 1rem;
}

.project-container {
  text-align: center;
  width: 21.875rem;
  padding: 1rem;
}

.project-container p {
  padding: 0.4rem;
}

.project-title {
  margin-bottom: var(--bottom-margin);
}

.project-details {
  margin-bottom: var(--bottom-margin);
}

/* Projects section ends */

/* Contacts section */
#contact {
    padding: 2rem;
    background: #f4f4f4;
    text-align: center;
}

#contact h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

#contact-form {
    display: inline-block;
    text-align: left;
}

#contact-form input,
#contact-form textarea {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#contact-form .btn {
    background: #ff6600;
    color: #fff;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 4px;
    transition: background 0.3s;
}

#contact-form .btn:hover {
    background: #ff8533;
}

/* Contacts section ends */

/* Social buttons */
.socials {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 1%;
  bottom: 50%;
}

.socicon {
  width: 2rem;
  height: 2rem;
}
/* Social button ends */

/* Scroll to top button */
.scroll-up {
  position: fixed;
  right: 0.5%;
  bottom: 3%;
  cursor: pointer;
}

.up-arrow {
  width: 3rem;
  height: 3rem;
}
/* Scroll to top button ends */

/* Footer section */
footer {
  background-color: var(--bg-white);
  padding: 1.25rem;
  text-align: center;
  margin: 2rem 0 0;
}
/* Footer section ends */

/* General (utilities) */
.icon-card {
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--green-shadow);
  padding: 20px;
  margin: 10px;
}

.project-card {
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--red-shadow);
  padding: 20px;
  margin: 10px;
}

/* Media queries for responsiveness */
@media screen and (max-width: 720px) {
  nav {
    padding: 1.5rem 1rem;
  }
  nav ul {
    position: fixed;
    background-color: var(--bg-white);
    flex-direction: column;
    top: 86px;
    left: 10%;
    width: 80%;
    text-align: center;
    transform: translateX(120%);
    transition: transform 0.5s ease-in;
  }

  nav ul li {
    margin: 8px;
  }

  .burger-menu {
    display: block;
  }

  nav ul.show {
    transform: translateX(0);
  }

  .hero {
    margin-top: -4rem;
    flex-direction: column;
    gap: 0;
  }

  .hero img {
    height: 37.5rem;
    width: 30rem;
  }

  .bio {
    margin-top: -7rem;
    width: 20.5rem;
  }

  .more-about {
    margin-top: 2rem;
    padding: 1rem 3.5rem;
  }

  .more-about h2 {
    text-align: center;
  }

  .more-about p {
    text-align: justify;
  }

  .icon {
    width: 5.875rem;
    height: 5.25rem;
  }

  .projects-container {
    flex-direction: column;
  }

  .project-container {
    width: 20.875rem;
  }

  .contact-form-container {
    max-width: 23.75rem;
  }
}

@media screen and (max-width: 420px) {
  .hero img {
    height: 37.5rem;
    width: 23rem;
  }

  .bio {
    width: 18.3rem;
  }

  .project-container {
    width: 17.875rem;
  }

  .contact-form-container {
    max-width: 17.75rem;
  }
}

/*Start: CURRICULUM VITAE  */
.cv-section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    font-family: Arial, sans-serif;
}

.cv-header {
    text-align: center;
    margin-bottom: 2rem;
}

.cv-header h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.cv-header h5 {
    color: #6c757d;
    font-style: italic;
}

.cv-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.profile {
    flex: 1;
    max-width: 30%;
    text-align: center;
}

.profile img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    border: 5px solid #dcdcdc;
}

.profile h2 {
    margin-top: 1rem;
    font-size: 1.5rem;
}

.profile .contact-info,
.profile .skills,
.profile .interests {
    list-style: none;
    padding: 0;
    margin: 1rem 0;
}

.profile .social-icons a {
    display: inline-block;
    margin: 0.5rem;
    padding: 0.5rem;
    background-color: #007bff;
    color: #fff;
    border-radius: 50%;
    text-decoration: none;
}

.details {
    flex: 2;
    max-width: 65%;
}

.details h3 {
    margin-top: 1rem;
    font-size: 1.5rem;
}

.details hr {
    border: none;
    border-top: 2px solid #000;
    margin: 0.5rem 0;
}

.details dl, .details ul, .details p {
    margin: 1rem 0;
}

.details dl dt {
    font-weight: bold;
}

.details dl dd {
    margin: 0 0 0.5rem 1rem;
}
/*End: CURRICULUM VITAE  */

